@import "base/all.css";
@import "tools/all.css";
body,
html {
  padding: 0;
  margin: 0;
  background: #000;
}

.App {
  background: #fff;
  @mixin --layout-start-start;

  &-logo {
    height: 80px;
    animation: App-logo-spin infinite 20s linear;
  }

  &-header {
    height: 150px;
    padding: 20px;
    color: white;
    background-color: #222;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
