/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 10px;
}

:root {
  /* 上揃え & 左揃え */
  /* 上揃え & 左右中央 */
  /* 上揃え & 左右スペースを空けて目一杯に広げる */
  /* 上揃え & 右揃え */
  /* 天地中央 & 左揃え */
  /* 天地中央 & 左右中央 */
  /* 天地中央 & 左右スペースを空けて目一杯に広げる */
  /* 天地中央 & 左右スペースを空けて目一杯に広げる */
  /* 天地中央 & 右揃え */
  /* 天地いっぱいまで広げる & 左揃え */
  /* 天地いっぱいまで広げる & 左右中央 */
  /* 天地いっぱいまで広げる & 左右スペースを空けて目一杯に広げる */
  /* 天地いっぱいまで広げる & 右揃え */
  /* 下揃え & 左揃え */
  /* 下揃え & 左右中央 */
  /* 下揃え & 左右スペースを空けて目一杯に広げる */
  /* 下揃え & 右揃え */
  /*
  縦方向
  天地中央 & 左揃え
  */
  /* 縦方向
  天地中央 & 左右中央 */
  /* 縦方向
  天地中央 & 左右いっぱいまで広がる */
}

.Carousel__Container {
    position: relative;
    height: auto;
  }

.Carousel__items {
    position: relative;
    overflow: hidden;
  }

.Carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }

.Carousel__Arrow {
    position: absolute;
    top: 0;
    background: #000;
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    cursor: pointer;
  }

.Carousel__Arrow--prev {
      left: 0;
    }

.Carousel__Arrow--prev::after {
        content: "";
        margin: 0 0 0 10px;
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
      }

.Carousel__Arrow--next {
      right: 0;
    }

.Carousel__Arrow--next::after {
        content: "";
        margin: 0 10px 0 0;
        width: 20px;
        height: 20px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }

.Carousel__Buttons {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100%;
    bottom: -30px;
  }

.Carousel__Button {
    display: block;
    width: 8px;
    height: 8px;
    margin: 8px;
    background: #ccc;
    cursor: pointer;
  }

.Carousel__Button--selected {
      background: #000;
    }
